body{background-color:#fafafa;margin:0;padding:0;color:#20202c;text-align:justify;font-family:ubuntu;font-size:17px}

#menu ul li{display:inline}

#menu ul li a { padding: 1px; display: inline-block; color: #20202c; text-decoration: none; border-bottom: 0 solid #f7f7f7; }

#menu ul li a:hover{color:#0060ef}

#logo ul{max-width:100%;height:auto;padding:0;margin:0;background: #fdc42d;list-style:none}

.logo{max-width:35%;display:block;margin-left:auto;margin-right:auto}

#menu ul { text-align: center; font-weight: 700; text-transform: uppercase; max-width: 100%; height: auto; box-shadow: 0px 5px 5px rgb(240,240,240); font-size: 14px; padding: 7px; margin: 0; background: #ffffff; list-style: none; }

#timeline{margin-left:auto;margin-right:auto;margin-top:0em;max-width:800px;min-width:10px}

a{text-decoration:none;color:#20202c}

a:hover{text-decoration:none;color:#0060ef}

a.continuar-lendo{padding:2px 5px;margin-left:4.3%;font-size:12px;font-weight:700;text-transform:uppercase}

p{margin-right:5%;margin-left:5%;font-size:17px;}

h1, h2{text-align:left;margin-right:5%;margin-left:5%;font-weight:700;font-size:17px;    text-transform:uppercase;}


#direitos-autorais {clear:both;text-align:center;color:#52565a;font-weight:700;font-size:12px;margin-bottom:0.9em;}

@media only screen and (max-width:600px){.logo{max-width:60%;display:block;margin-left:auto;margin-right:auto}}

@media only screen and (max-width: 600px) {
a.continuar-lendo {
    padding: 2px 5px;
    margin-left: 4.3%;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
}}


.icones {
    max-width: 20px;
    min-width:15px;
    max-height:20px;
    min-height:15px;
}