body{background-color:#fafafa;margin:0;padding:0;color:#20202c;text-align:justify;font-family:ubuntu;font-size:17px}

#menu ul li{display:inline}

#menu ul { padding: 1px;text-align: center; font-weight: 700; text-transform: uppercase; max-width: 100%; height: auto; box-shadow: 0px 5px 5px rgb(240,240,240); font-size: 14px; padding: 7px; margin: 0; background: #ffffff; list-style: none; }

.logo{max-width:30%;display:block;margin-left:auto;margin-right:auto}

#logo ul{max-width:100%;height:auto;padding:0;margin:0;background-image:linear-gradient(to right ,#0060ef,#000,#0060ef);list-style:none}

#timeline, #linha-do-tempo, #publicacao, #artigo {margin-left:auto;margin-right:auto;margin-top:0em;max-width:800px;min-width:10px}

a{text-decoration:none;color:#20202c}

a:hover{text-decoration:none;color:#0060ef}

a.continuar-lendo {text-decoration: none;padding: 2px 5px;margin-left: 5%;-webkit-border-radius: 5px;font-size: 12px;font-weight: 700;color: #fafafa;background: #20202c;text-transform: uppercase;}

a.continuar-lendo:hover{text-decoration: none;padding: 2px 5px;margin-left: 5%;-webkit-border-radius: 5px;font-size: 12px;font-weight: 700;color: #fafafa;background: #0060ef;text-transform: uppercase;}

p, time, description, audio{margin-right:5%;margin-left:5%;font-size:17px;}

h1, h2, h3, h4, h5, legend {text-align: left; margin-right: 5%; margin-left: 5%; font-weight: 700; font-size: 17px; text-transform: uppercase; }

alerta {font-weight: bold;border:solid;text-transform:uppercase;text-align: center;color: #0060ef}

.links {height:40px;position:fixed;bottom:1%;left:1%;z-index:1000}

b {text-decoration: none;background-color:#000000;color: #fff;text-align: left; margin-right: 5%;font-weight: 700; }


#direitos-autorais, #footer, #sub-footer {clear:both;text-align:center;color:#52565a;font-weight:700;font-size:12px;margin-bottom:0.9em;}

@media only screen and (max-width:600px){.logo{max-width:60%;display:block;margin-left:auto;margin-right:auto}}

@media only screen and (max-width: 600px) {
a.continuar-lendo {
    padding: 2px 5px;
    margin-left: 5%;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
}}

@media only screen and (max-width: 600px) {
a.continuar-lendo:hover{
	text-decoration: 
	none;padding:2px5px;
	margin-left: 5%;
	-webkit-border-radius: 5px;
	font-size: 14px;
	font-weight: 700;
	color: #fafafa;
	background: #0060ef;
	text-transform: uppercase;
}}

.comentarios {background-color:#20202c; color: #fff;margin-right:5%;margin-left:5%;font-size:17px;}




























* {
  margin: 0;
  padding: 0;
}


/* Let's style the wrapper in such away that, 
it should always be at the center of the browser */
.wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 550px;
}

/* Style the Un-order list by setting its list-style to none */
.wrapper ul {
  list-style: none;
}

/* Style the list items inside the UL list, by setting its width, height and line-height 
  and float them to left and set its border and border-radius.
 */
.wrapper ul li {
  width: 75px;
  height: 75px;
  line-height: 75px;
  margin: 0 10px;
  text-align: center;
  cursor: pointer;
  border-radius: 50%;
  border: 5px solid #0060ef;
  float: left;
  transition: all 0.5s ease;
}

/* Style the icons by setting its color and margin-top value to 20px 
to align it properly */
.wrapper ul li .fa {
  color: #222;
  margin-top: 20px;
  transition: all 0.5s ease;
}

/* Now target the specific li classes for styling and use box-shadow effect to border and text-shadow effect
  to icons for glowing effect and use transition property for smooth transition effect. */
/*facebook*/
.wrapper ul li:hover.facebook {
  border: 5px solid #3b5998;
  box-shadow: 0 0 15px #3b5998;
  transition: all 0.5s ease;
}

.wrapper ul li:hover .fa-facebook {
  color: #3b5998;
  text-shadow: 0 0 15px #3b5998;
  transition: all 0.5s ease;
}

/*twitter*/
.wrapper ul li:hover.twitter {
  border: 5px solid #00aced;
  box-shadow: 0 0 15px #00aced;
  transition: all 0.5s ease;
}

.wrapper ul li:hover .fa-twitter {
  color: #00aced;
  text-shadow: 0 0 15px #00aced;
  transition: all 0.5s ease;
}

/* instagram */
.wrapper ul li:hover.instagram {
  border: 5px solid #bc2a8d;
  box-shadow: 0 0 15px #bc2a8d;
  transition: all 0.5s ease;
}

.wrapper ul li:hover .fa-instagram {
  color: #bc2a8d;
  text-shadow: 0 0 15px #bc2a8d;
  transition: all 0.5s ease;
}

/* google */
.wrapper ul li:hover.google {
  border: 5px solid #dd4b39;
  box-shadow: 0 0 15px #dd4b39;
  transition: all 0.5s ease;
}

.wrapper ul li:hover .fa-google {
  color: #dd4b39;
  text-shadow: 0 0 15px #dd4b39;
  transition: all 0.5s ease;
}

/* whatsapp */
.wrapper ul li:hover.whatsapp {
  border: 5px solid #4dc247;
  box-shadow: 0 0 15px #4dc247;
  transition: all 0.5s ease;
}

.wrapper ul li:hover .fa-whatsapp {
  color: #4dc247;
  text-shadow: 0 0 15px #4dc247;
  transition: all 0.5s ease;
}


/* media queries */

@media screen and (max-width: 640px){
  .wrapper {
      width: 350px;
  }
  .wrapper ul li{
      margin-top: 10px;
  }
  .wrapper ul li.google{
      margin-left: 60px;
  }
}


@media screen and (max-width: 340px){
  .wrapper {
      width: 150px;
  }
  .wrapper ul li{
      margin:15px;
  }
  .wrapper ul li.google{
      margin-left: 15px;
  }
}

