body{background-color:#fafafa;margin:0;padding:0;color:#20202c;text-align:justify;font-family:ubuntu;font-size:17px}

#menu ul li{display:inline}

#menu ul { padding: 1px;text-align: center; font-weight: 700; text-transform: uppercase; max-width: 100%; height: auto; box-shadow: 0px 5px 5px rgb(240,240,240); font-size: 14px; padding: 7px; margin: 0; background: #ffffff; list-style: none; }

.logo{max-width:30%;display:block;margin-left:auto;margin-right:auto}

#logo ul{max-width:100%;height:auto;padding:0;margin:0;background-image:linear-gradient(to right ,#0060ef,#000,#0060ef);list-style:none}

#timeline, #linha-do-tempo, #publicacao, #artigo {margin-left:auto;margin-right:auto;margin-top:0em;max-width:800px;min-width:10px}

a{text-decoration:none;color:#20202c}

a:hover{text-decoration:none;color:#0060ef}

a.continuar-lendo {text-decoration: none;padding: 2px 5px;margin-left: 5%;-webkit-border-radius: 5px;font-size: 12px;font-weight: 700;color: #fafafa;background: #20202c;text-transform: uppercase;}

a.continuar-lendo:hover{text-decoration: none;padding: 2px 5px;margin-left: 5%;-webkit-border-radius: 5px;font-size: 12px;font-weight: 700;color: #fafafa;background: #0060ef;text-transform: uppercase;}

p, time, description, audio{margin-right:5%;margin-left:5%;font-size:17px;}

h1, h2, h3, h4, h5, legend {text-align: left; margin-right: 5%; margin-left: 5%; font-weight: 700; font-size: 17px; text-transform: uppercase; }

alerta {font-weight: bold;border:solid;text-transform:uppercase;text-align: center;color: #0060ef}

.links {height:40px;position:fixed;bottom:1%;left:1%;z-index:1000}

b {text-decoration: none;background-color:#000000;color: #fff;text-align: left; margin-right: 5%;font-weight: 700; }


#direitos-autorais, #footer, #sub-footer {clear:both;text-align:center;color:#52565a;font-weight:700;font-size:12px;margin-bottom:0.9em;}

@media only screen and (max-width:600px){.logo{max-width:60%;display:block;margin-left:auto;margin-right:auto}}

@media only screen and (max-width: 600px) {
a.continuar-lendo {
    padding: 2px 5px;
    margin-left: 5%;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
}}

@media only screen and (max-width: 600px) {
a.continuar-lendo:hover{
	text-decoration: 
	none;padding:2px5px;
	margin-left: 5%;
	-webkit-border-radius: 5px;
	font-size: 14px;
	font-weight: 700;
	color: #fafafa;
	background: #0060ef;
	text-transform: uppercase;
}}

.comentarios {background-color:#20202c; color: #fff;margin-right:5%;margin-left:5%;font-size:17px;}


