body{background-color: #17171d;margin:0;padding:0;color: #fafafa;text-align:justify;font-family:ubuntu;font-size:17px;}
.logo{max-width:15%;display:block;margin-left:auto;margin-right:auto}

#logo ul{max-width:100%;height:auto;padding:0;margin:0;background-image:linear-gradient(to right ,#0060ef,#000,#0060ef);list-style:none}

#timeline, #linha-do-tempo, #publicacao, #artigo {margin-left:auto;margin-right:auto;margin-top:0em;max-width:800px;min-width:10px}

a{text-decoration:none;color:#fafafa;}

a:hover{text-decoration:none;color:#0060ef}

#menu {display: inline-block;width: 100%;position: relative;}

#menu ul {font-weight: 700;list-style: none;margin:0;background: #0060ef;box-shadow: 0px 5px 1em #000000;padding:7px;font-size: 14px;text-align: center;max-width: 100%;text-transform: uppercase;}

#menu li {float: left;}

li a, .btn {display: inline;padding: 1px;background:000; content-box;text-decoration: none;}

li a:hover {font-weight: 700;list-style: none;margin:0;background: #fafafa;box-shadow: 0px 5px 1em #000000;padding:7px;font-size: 14px;text-align: center;max-width: 100%;text-transform: uppercase; color: #0060ef}

.btn {text-align: center;text-decoration: none;    text-transform: uppercase;}

.btn:hover {display: inline;padding: 1px; text-decoration: none;color: #0060ef; background: #fafafa; padding:7px;text-align: center;max-width: 100%; font-weight: 700;list-style: none;margin:0;}

li.submenu, .btn {display: inline;}

.alinhamento {display: flex;justify-content: center;}

.submenu:hover {display: block;}

.submenu-modificado {display: none; position: absolute; min-width: 160px; z-index: 1;background-color: white;box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); text-transform: uppercase;}

.submenu-modificado a {padding: 12px 16px;text-decoration: none;display: block;background: #0060ef;text-align: left;color: #fafafa;text-transform: uppercase;}

.submenu-modificado a:hover {padding: 12px 16px;text-decoration: none;display: block;background: #fafafa;text-align: left;color: #0060ef;text-transform: uppercase;}

.submenu:hover .submenu-modificado {display: block;}

/*daqui pra cima, modificado.*/

a.continuar-lendo {text-decoration: none;padding: 2px 5px;margin-left: 1%;-webkit-border-radius: 5px;font-size: 12px;font-weight: 700;color: #17171d;background: #fafafa;text-transform: uppercase;}

a.continuar-lendo:hover{text-decoration: none;padding: 2px 5px;margin-left: 1%;-webkit-border-radius: 5px;font-size: 12px;font-weight: 700;color: #fafafa;background: #0060ef;text-transform: uppercase;box-shadow: 0 0 1em #0060ef;}

p, time, description, audio{margin-right: 1%;margin-left: 1%;font-size:17px;}

h1, h2, h3, h4, h5, legend {text-align: left;margin-right: 1%;margin-left: 1%;font-weight: 700;font-size: 18px;text-transform: uppercase;}

alerta {font-weight: bold; border: solid; font-size: 10px; border-top: dashed 1px #0060ef; border-bottom: dashed 1px #0060ef; margin-top: 2.5em; border-right: dashed 1px #0060ef; text-align: center; color: #0060ef; }

.links {height:40px;position:fixed;bottom:1%;left:1%;z-index:1000}

#direitos-autorais, #footer, #sub-footer {clear:both;text-align:center;color: #fafafa;font-weight:700;font-size:12px;margin-bottom:0.9em;}

@media only screen and (max-width: 600px) {

p, time, description, audio{margin-right: 5%;margin-left: 5%;font-size:17px;}
h1, h2, h3, h4, h5, legend {text-align: left;margin-right: 5%;margin-left:5%;font-weight: 700;font-size: 18px;text-transform: uppercase;}
a.continuar-lendo:hover{
	text-decoration: 
	none;padding:2px5px;
	margin-left: 5%;
	-webkit-border-radius: 5px;
	font-size: 14px;
	font-weight: 700;
	color: #fafafa;
	background: #0060ef;
	text-transform: uppercase;
    box-shadow: 0 0 1em #0060ef;}

    a.continuar-lendo {
    padding: 2px 5px;
    margin-left: 5%;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;}
    .logo{max-width:27%;display:block;margin-left:auto;margin-right:auto}}






